// THEME COLORS
$yellow: #ffcc02;
$yellow-dark: #ba8e23;
$red-dark: #820000;
$footer: #151414;

$primary: $yellow;
$primary-dark: $yellow-dark;
$secondary: $red-dark;

// ##########################################
// - IMPORT BOOTSTRAP ( The entire bootstrap with everything)
// ##########################################
@import "../node_modules/bootstrap/scss/bootstrap.scss";
