// THEME COLORS
$yellow: #ffcc02;
$purple-light: #bb6ef5;
$pink: #d122e3;
$footer: #151414;

$primary: $yellow;
$secondary: $pink;

// ##########################################
// - IMPORT BOOTSTRAP ( The entire bootstrap with everything)
// ##########################################
@import "../node_modules/bootstrap/scss/bootstrap.scss";
