@use "./custom";

// IMPORT THE COMPONENTS
@use "./components/animations";
@use "./components/buttons";
@use "./components/mixins";
@use "./components/typography";

// IMPORT THE SECTIONS
@use "./sections/hero.scss";
@use "./sections/category.scss";
@use "./sections/about.scss";
@use "./sections/menus.scss";
@use "./sections/highlight.scss";
@use "./sections/download-app.scss";
@use "./sections/testimonial.scss";
@use "./sections/timing.scss";
@use "./sections/gallery.scss";
@use "./sections/contact.scss";
@use "./sections/footer.scss";
