@use "../custom" as *;
@use "../components/mixins" as *;

.hero {
  background: url("../../assets/images/slider_bg.jpg") repeat center center /
    cover;
  width: 100%;
  height: auto;

  .sub-header {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 20px;

    &__address,
    &__phone,
    &__time {
      @include flex-center;

      i {
        color: $primary;
        margin-right: 7px;
        font-size: 18px;
        transform: translateY(-5px);
      }

      p {
        color: rgba($white, 0.8);
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
      }
    }
  }

  .menu {
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    .navbar-brand {
      width: 240px;

      @include media-breakpoint-up(md) {
        width: 300px;
      }
    }
    .nav-link {
      font-size: 18px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      text-transform: capitalize;
      position: relative;

      &::after {
        content: "";
        width: 0;
        height: 0.15rem;
        display: block;
        margin: 0 auto;
        background-color: $primary;
        transition: width 0.3s ease;
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
      }

      &:hover::after {
        width: 100%;

        @include media-breakpoint-down(lg) {
          width: 0;
        }
      }
    }
    .checkout {
      position: relative;
      max-width: fit-content;

      i {
        font-size: 20px;
        color: $primary;
      }
      span {
        background-color: $primary;
        font-size: 18px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: rgba($black, 0.8);
        border-radius: 50%;
        position: absolute;
        top: -5px;
        right: -5px;
        padding: 0 5px;

        &:hover {
          color: $black;
        }

        @include media-breakpoint-down(lg) {
          right: -15px;
        }
      }
    }
  }
}
