@use "../custom" as *;

// FLEX CENTER MIXIN
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// GRADIENT MIXIN
@mixin gradient {
  background: linear-gradient(to right, rgba($secondary, 1), rgba($primary, 1));
}
