// _typography.scss

@use "../custom" as *;

.sub-header__address p,
.sub-header__phone p,
.sub-header__time p {
  color: rgba($white, 0.8);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.nav-link {
  font-size: 18px;
  font-family: Montserrat-Bold;
  text-transform: capitalize;
  position: relative;

  &::after {
    content: "";
    width: 0;
    height: 0.15rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
  }

  &:hover::after {
    width: 100%;
    @include media-breakpoint-down(lg) {
      width: 0;
    }
  }
}

.carousel__details .item_name {
  font-weight: normal;
  font-family: "ChunkFiveEx";
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;

  &::after {
    content: "";
    width: 98px;
    height: 4px;
    background-color: $primary;
    position: absolute;
    right: 0;
    bottom: 0;

    @include media-breakpoint-down(lg) {
      right: 50%;
      transform: translateX(50%);
    }
  }

  @include media-breakpoint-up(lg) {
    text-align: end;
  }
}

.carousel__details .item_info {
  font-size: 1rem;
  font-family: "Montserrat-Light";
  margin-top: 10px;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: end;
  }
}

.carousel__get-in-touch h2 {
  font-size: 3rem;
  color: rgba($primary, 0.8);

  @include media-breakpoint-down(md) {
    font-size: 2.5rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

.about {
  &--title {
    font-size: 1.5rem;
    font-family: "Arizonia", cursive;
    padding: 10px 0 10px 0;
    line-height: 1.1;
    font-style: italic;
    text-transform: uppercase;
    color: $white;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }

  &--short-desc,
  &--long-desc {
    font-size: 1rem;
    font-family: "Montserrat-Light";
    color: rgba($white, 0.9);
    margin-top: 20px;
  }

  &--sub-head {
    color: rgba($primary, 0.9);
  }
}

// HEADING LINE
.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}
.heading-line::after {
  content: "";
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: $primary;
}

.highlight {
  .title {
    font-size: 1.5rem;
    font-family: "Arizonia", cursive;
    margin-bottom: 2px;
    line-height: 1.1;
    text-transform: lowercase;
    font-style: italic;
    color: $primary;
  }

  .sub-title {
    font-weight: 700;
    font-size: 2rem;
    color: $black;
    margin: 0.5rem 0;
    line-height: 1;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }

  .desc {
    font-size: 1rem;
    color: rgba($black, 0.8);
    text-transform: none;
    text-align: justify;
  }

  a {
    transition: color 0.3s ease;

    &:hover {
      color: $white;
    }
  }
}

.download-app {
  .wrapper {
    .title {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 2rem;
      color: $white;
      text-transform: uppercase;
      margin: 0;

      @include media-breakpoint-down(sm) {
        font-size: 1rem;
      }
    }
    .desc {
      font-size: 1rem;
      text-transform: lowercase;
      color: rgba($white, 0.8);
      text-align: center;
      max-width: 300px;
      line-height: 1;
      margin: 0 auto;
      padding-bottom: 1rem;

      @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
      }
    }
  }
}

.contact {
  .title {
    font-size: 1.5rem;
    color: $primary;
    text-transform: capitalize;
    font-family: "Montserrat-Bold", sans-serif;
    padding: 1rem 0;
  }
}

// DISPLAY 3
.display-3 {
  position: relative;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Montserrat-Bold", sans-serif;
  display: inline-block;

  @include media-breakpoint-up(lg) {
    font-size: 1.8rem;
  }
}

.highlight-default {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px $secondary;
  background-image: linear-gradient(to right, $secondary, $primary);
}
.highlight-white {
  color: $white;
}
